*{
  padding: 0;
  margin: 0;
}
body{
  background: #3f4040;
  color: #979899;
}
.header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  background: linear-gradient(#1f2121, #3f4040)
}
.header-wrapper{
  display: flex;
  width: 1024px;
  margin: 0 auto;
  justify-content: space-between;
}
.logo{
  display: flex;
  align-items: center;
}
nav{
  display: flex;
}
nav a{
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding: 0 10px;
  text-decoration: none;
  color: #979899;
}
nav a:hover{
  cursor: pointer;
  background: #1f2121;
  color: #daa520;
}
.contact{
  height: 60px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
main{
  max-width: 1024px;
  margin: 0 auto;
}
h2, h3{
  text-align: center;
}
h2{
  margin-bottom: 20px;
  color: #daa520;
  font-size: 3.5em;
}
.wrapper{
  display: flex;
  padding: 15px 25px;
  background-color: #1f2121; 
  width: inherit;
  margin-bottom: 50px;
}
.my-foto{
  display: block;
  width: 280px;
  height: 280px;
  border: 3px solid #979899;
  border-radius: 50%;
  background: url("image/foto.jpg") no-repeat 40% 0;
}
.info-about-me{
  flex-grow: 1;
  margin: 0 20px;
  padding-top: 50px;
}
.fullname{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 4.5em;
}
.fullname-firstname{
  color: goldenrod;
}
.line{
  margin: 15px 0;
}
.list-social{
  text-align: center;
}
.list-social li{
  display: inline-block;
  margin-right: 55px;
  list-style-type: none;
}
.icon{
  display: inline-block;
  width:70px;
  height: 70px;
  border-radius: 50%; 
  cursor: pointer;
}

.icon-vk{
  background: url("image/social1.png") no-repeat 6% 6%;
}
.icon-fb{
  background: url("image/social1.png") no-repeat 28% 6%;
}
.icon-google{
  background: url("image/social1.png") no-repeat 73% 5%;
  background-size: 700%;
}
/*Summary*/
.summary{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.summary p{
  width: 80%;
  text-align: justify;
  font-family: cursive;
  font-size: xx-large;
}
/*end summary*/
/*Skills*/

/*end Skills*/
.example{
  width: 100%;
}
pre{
  display: inline-block;
  overflow: overlay;
  height: 400px;
  width: 100%;
}