*{
  padding: 0;
  margin: 0;
}
body{
  background: #3f4040;
  color: #979899;
}
.header{
  display: block;
  width: 100%;
  height: 150px;
  background: linear-gradient()
}
.header-wrapper{
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
}
main{
  max-width: 1024px;
  margin: 0 auto;
}
.wrapper{
  display: flex;
  padding: 15px 25px;
  background-color: #1f2121; 
}
.my-foto{
  display: block;
  width: 280px;
  height: 280px;
  border: 3px solid #979899;
  border-radius: 50%;
  background: url("image/foto.jpg") no-repeat 40% 0;
}
.info-about-me{
  flex-grow: 1;
  margin: 0 20px;
  padding-top: 50px;
}
.fullname{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 4.5em;
}
.fullname-firstname{
  color: goldenrod;
}
.line{
  margin: 15px 0;
  background: red
}
.list-social{
  text-align: center;
}
ul li{
  display: inline-block;
  margin-right: 55px;
  list-style-type: none;
}
.icon{
  display: inline-block;
  width:70px;
  height: 70px;
  border-radius: 50%; 
  cursor: pointer;
}

.icon-vk{
  background: url("image/social1.png") no-repeat 6% 6%;
}
.icon-fb{
  background: url("image/social1.png") no-repeat 28% 6%;
}
.icon-google{
  background: url("image/social1.png") no-repeat 73% 5%;
  background-size: 700%;
}