*{
  padding: 0;
  margin: 0;
}
body{
  background: #3f4040;
  color: #979899;
}
.header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  background: linear-gradient(#1f2121, #3f4040)
}
.header-wrapper{
  display: flex;
  width: 1024px;
  margin: 0 auto;
  justify-content: space-between;
}
.logo{
  display: flex;
  align-items: center;
}
nav{
  display: flex;
}
nav a{
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding: 0 10px;
  text-decoration: none;
  color: #979899;
}
nav a:hover{
  cursor: pointer;
  background: #1f2121;
  color: #daa520;
}
.contact{
  height: 60px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
main{
  max-width: 1024px;
  margin: 0 auto;
  min-height: calc(100vh-150px);
}
h2, h3{
  text-align: center;
}
h2{
  margin-bottom: 20px;
  color: #daa520;
  font-size: 2.5em;
}
.wrapper{
  display: flex;
  padding: 15px 25px;
  background-color: #1f2121; 
  width: inherit;
  margin-bottom: 50px;
}
.my-foto{
  display: block;
  width: 280px;
  height: 280px;
  border: 3px solid #979899;
  border-radius: 50%;
  background: url("image/foto.jpg") no-repeat 40% 0;
}
.info-about-me{
  flex-grow: 1;
  margin: 0 20px;
  padding-top: 50px;
}
.fullname{
  text-align: center;
  font-size: 3.5em;
}
.fullname-firstname{
  color: goldenrod;
}
.line{
  margin: 15px 0;
}
.list-social{
  text-align: center;
}
.list-social li{
  display: inline-block;
  margin-right: 55px;
  list-style-type: none;
}
.icon{
  display: inline-block;
  width:70px;
  height: 70px;
  border-radius: 50%; 
  cursor: pointer;
}

.icon-vk{
  background: url("image/social1.png") no-repeat 6% 6%;
}
.icon-fb{
  background: url("image/social1.png") no-repeat 28% 6%;
}
.icon-google{
  background: url("image/social1.png") no-repeat 73% 5%;
  background-size: 700%;
}
/*Summary*/
.summary{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.summary p{
  width: 60%;
  text-align: justify;
  font-size: 1.2em;
  word-spacing: 0.01em;
}
/*end summary*/
/*Skills*/
.skills{
  display: flex;
  flex-flow: column;
  width: 100%;
}
.list-skills{
  display: flex;
  flex-flow: column;
  align-items: center;
  list-style-type: none;
}
.list-skills li{
  font-size: 1.1em;
}
/*end Skills*/
/*Example*/
.example{
  width: 100%;
}
.code-name{
  margin: 15px 0;
  color: #5aa520;
}
pre{
  display: inline-block;
  overflow: overlay;
  height: 400px;
  width: 100%;
  border: 2px solid #daa520;
}
/*end Example*/
/*Practis*/
.practis{
  display: flex;
  flex-flow: column;
  width: 100%;
}
.practis-list{
  display: flex;
  flex-flow: column;
  width: 80%;
  list-style-type: decimal;
  list-style-position: inside;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  word-spacing: 0.3em;
  word-spacing: 0.3em;
}
.practis-list li a{
  text-decoration: none;
  cursor: pointer;
  color: #20da6c;
}
/*end Practis*/
/*Course*/
.course{
  display: flex;
  flex-flow: column;
  width: 100%;
}

.education-title{
  display: inline-block;
  text-transform: uppercase;
}
.education-title h4{
  color: #5aa520;
  margin: 15px 0;
}
.education-content{
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
}
.education-years{
  flex-grow: 1;
  font-size: 1.1em;
}
.education-describe{
  width: 70%;
  flex-grow: 1;
  font-size: 1.1em;
}
/*end Course*/
/*English*/
.english{
  display: flex;
  flex-flow: column;
}
.text-english{
  margin: 15px 0;
  font-size: 1.1em;
}
/*end english*/
/*footer*/
footer{
  height: 150px;
  background: linear-gradient( #3f4040, #1f2121); 
  text-align: center;
}
.footer-info{
  transform: translateY(75px)
}
/*end footer*/